<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1> Login </h1> 
    <% if (locals.error) { %>
        <p><%= error %></p>     
    <% } %>
    <form method="POST" action="/user/login">  <!-- action means where this post request is to be sent in our example /url -->
       
        <label> Email </label>  
        <input 
           type = "text"  
           required name="email"                                    
           placeholder="nk@gmail.com" 
        />
        <label> Password </label>
        <input 
           type = "text"  
           required name="password"                                     
        />
        <button type="submit">login</button>
    </form>   
</body>
</html>
