<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1> Sign up </h1> 
    <form method="POST" action="/user">  <!-- action means where this post request is to be sent in our example /url -->
        <label> Full name </label>
        <input 
           type = "text"  
           required name="name"                                    
           placeholder="naman" 
        />
        <label> Email </label>  
        <input 
           type = "text"  
           required name="email"                                    
           placeholder="nk@gmail.com" 
        />
        <label> Password </label>
        <input 
           type = "text"  
           required name="password"                                     
        />
        <button type="submit">Signup</button>
    </form>   
</body>
</html>