<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class = "container mt-4">
        <form action="/member/add" method = "post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input 
                type="text" 
                required
                class="form-control" 
                id="name" 
                name = "name"
                aria-describedby="name">
                
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">age</label>
              <input 
              required
              type="number" 
              class="form-control" 
              id="exampleInputEmail1" 
              name="age"
              >
              
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div> 
    <%- include('./partials/scripts') %>
</body>
</html>